<div class="pre-loader">
        <div class="load-con">
            <img src="assets/img/freeze/logo.png" class="animated fadeInDown" alt="">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </div>
    </div>
    
     <div class="navbar navbar-default fixed-header">
        <div class="container">
            <nav>
            	<!-- <div class="container"> -->
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="fa fa-bars fa-lg"></span>
                        </button>
                        <a class="navbar-brand" href="home">
                            <img src="assets/img/freeze/logo.png" alt="" class="logo">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="aboutus">about</a></li>
                            <li><a href="features">Features</a></li>
                            <li><a href="estimate">Price Estimate</a></li>
                            <li><a href="reviews">reviews</a></li>
                            <li><a href="contact">contact us</a></li>
                            <li><a href="#" data-ng-click="booknowdetails()">Book Now</a></li>
                            <div class="dropdown">
                            <li data-ng-if="username !=undefined && username !=null && username !=''" class="dropbtn"><a href="#">Hi {{username}}</a></li>
							<div class="dropdown-content">
									<a href="#" data-ng-click="clearScope()">Logout</a>
								</div>
							</div>
                      <li data-ng-if="username ==undefined || username == null || username ==''"><a href="#" onclick="document.getElementById('ds-login').style.display='block'" style="width:auto;">Login</a></li>
                        </ul>
                    </div>
              </nav>
        </div>
    </div>
     <div id="ds-login" class="modal">
  
  <form class="modal-content animate" action="j_spring_security_check" method="post">
     <div class="imgcontainer">
      <span onclick="document.getElementById('ds-login').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container" style="width:auto;">
      <input type="text" placeholder="Enter EmailId or Mob no." name="j_username" required >
      <input type="password" placeholder="Enter Password" name="j_password" required>
        
      <button type="submit" >Login</button>
      <input type="checkbox" checked="checked"><span>Remember me</span>
      <span class="psw"><a href="#">Forgot password?</a></span>
      <hr>
      <p class="" style="margin-bottom:3px;overflow:hidden;text-align:center;color:#555;font-weight:bold;" data-reactid="20">OR</p>
      <hr>
      <div id="my-signin2"></div><br/>
      <div class="fb-login-button"  onlogin="checkLoginState();" data-max-rows="1" data-width="306" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" onlogin="checkLoginState();"></div>
      
  <!--   <fb:login-button scope="public_profile,email" ></fb:login-button> -->
    
    <span>Need an account? </span>
    <a href="signup" >Sign up</a> 
    </div> 
      </form>
</div>
<!--  Login with Facebook javascript  --> 
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1597895260252334',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  
 
 function checkLoginState() { 
 alert("inside checkLoginState");
 FB.login(function(response) {
	   console.log(response);
	}, {scope: 'email'});
 
  FB.getLoginStatus(function(response) {
	 statusChangeCallback(response);
	 });
	  }
 
 function statusChangeCallback(response) {
	    console.log('statusChangeCallback');
	    console.log(response);
	    // The response object is returned with a status field that lets the
	    // app know the current login status of the person.
	    // Full docs on the response object can be found in the documentation
	    // for FB.getLoginStatus().
	    var uid = response.authResponse.userID;
	    var accessToken = response.authResponse.accessToken;
	    console.log('ID: ' + uid);
	    console.log('accessToken: ' + accessToken);
	    console.log('response ' + response.status);  
	    if (response.status === 'connected') {
	      // Logged into your app and Facebook.
	    FB.api('/me?fields=id,name,email', function(response) {
         console.log('me response '+response);
	    	console.log('Successful login for: ' + response.name);
	    	console.log('Successful login for: ' + response.email);
/* 
	         $.ajax({
	        	  method: "POST",
	        	  url: "/dropshuttl/fbSignin",
	        	  data: "{ id: "+uid+",name: "+response.name+", email: "+response.email+" }"
	        	}) */
	    	  var xhr = new XMLHttpRequest();
	         xhr.open('POST', '/dropshuttl/fbSignin');
	         xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
	         xhr.onload = function() {
	           console.log('Signed in as: ' + xhr.responseText);
	         };
	         xhr.send(JSON.stringify({ usocialFB: uid,uname: response.name, umailId: response.email}));
	             window.location.href = "/dropshuttl/booknow?id_token="+response.name;
      
	    });
	   	 console.log('response ' + response.status);
	    } else {
	      // The person is not logged into your app or we are unable to tell.
	     /*  document.getElementById('status').innerHTML = 'Please log ' +
	        'into this app.'; */
	    	 console.log('response ' + response.status);
	    }
	  }
</script>

      