<section id="estimate" style="background: #F5F5F5;">
	<div class="container">
                <div style="width: 55%;padding-top: 100px;margin:0 auto;">
                    <h2>Order Details</h2>
                    <div><p>order number</p><p>222222222></p></div>
                    <div><p>Address</p></div>
                    <div><p>From</p><p>C233 Mayur Vihar Phase 1</p></div>
                    <div><p>To</p><p>3/302 New Ashok Nagar<p></p></div>
                   </div>
            </div>
</section>