<form  method="post" ng-submit="validateForm()" ng-controller="signUpCtrl">
<input type="text" id="" ng-model="user.uname" name="uname" placeholder="Name">
<input type="text" ng-model="user.umailId" name="umailId" placeholder="Email Id">
<span ng-show="user.umailId.$error.email">Not a valid e-mail address</span>
<input type="text" ng-model="user.umob"  name="umob" placeholder="Mobile No.">
<input type="password" ng-model="user.pass" name="pass" placeholder="Password">
<input type="submit" value="Sign Up">
</form>

<input type="button" name="test" ng-click="testForm()">